<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SBOAddonDeliveries.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SBOAddonDeliveries.Properties.Settings>
            <setting name="querySalesOrders" serializeAs="String">
                <value>Select 
 ROW_NUMBER() OVER (Order by "DocEntry" desc) AS "#",
'N' as "Select",
"DocEntry",
"CardCode",
"CardName",
"DocDueDate",
"DocTotal"
From 
"ORDR" 
Where "CardCode" like '%param%'
And "DocStatus" = 'O'</value>
            </setting>
            <setting name="querySalesOrderDetails" serializeAs="String">
                <value>Select 
 ROW_NUMBER() OVER (Order by T0."DocEntry" desc) AS "#",
T0."DocEntry",
T0."CardCode",
T1."ItemCode",
T1."WhsCode",
T1."Quantity",
T1."Price",
T1."LineNum" as "BaseLine"
From 
"ORDR" T0
inner join "RDR1" T1 on T0."DocEntry" = T1."DocEntry"
Where T0."DocEntry" in (param)
And T0."DocStatus" = 'O'</value>
            </setting>
            <setting name="queryItemByWarehouses" serializeAs="String">
                <value>SELECT * FROM(
SELECT
ROW_NUMBER() OVER (Order by T0."WhsCode" desc) AS "#",
T1."ItemCode",
T1."ItemName",
T0."WhsCode",
T0."OnHand",
T0."IsCommited",
T0."OnOrder",
(T0."OnHand"- T0."IsCommited") as "IsAvaible"
FROM
OITW T0
INNER JOIN OITM T1 ON T0."ItemCode" = T1."ItemCode"
WHERE T1."ItemCode" = 'param') XX
Order by XX."#"</value>
            </setting>
            <setting name="queryCustomerData" serializeAs="String">
                <value>Select "CardCode", "CardName" from 
OCRD
Where "CardCode" = "param"</value>
            </setting>
        </SBOAddonDeliveries.Properties.Settings>
    </userSettings>
</configuration>